/**********/
/**********/

body {
          color: #2b1a12;
          top: 0 !important;
          overflow-y: auto;
          line-height: 1.3;
        }
        
        body > .skiptranslate,
        .goog-logo-link,
        .gskiptranslate,
        .goog-te-gadget span,
        .goog-te-banner-frame,
        #goog-gt-tt,
        .goog-te-balloon-frame,
        div#goog-gt- {
          display: none !important;
        }
        .goog-te-gadget {
          color: transparent !important;
          font-size: 0px;
        }
        .goog-text-highlight {
          background: none !important;
          box-shadow: none !important;
        }
        #google_translate_element {
          border: none !important; 
        }
        #google_translate_element select {
          background: white;
          width: 180px;
          color: black;
          border: none !important;
          font-weight: bold;
          border-radius: 3px;
          padding: 8px 12px;
        }
        